/* TABLE */
table {
	border: 1px solid black;
	width: 600px;
}

th, td {
	border: 1px solid black;
	width: 100px;
}

tbody th{
	font-style: italic;
	font-weight: normal;
}

tbody td:nth-child(2) {
	color: red;
}

tbody td:nth-child(4) {
	color: blue;
}

tbody tr:nth-child(even) {
	background: lightblue;
}

tbody tr:nth-child(odd) {
	background: lightgreen;
}

/* DEFINITION LIST */
dt:hover + dd {
	background: purple;
}

/* FORM */
fieldset {
	width: 300px;
}

/* OUTER/INNER CONTENT DIVS */
.outer-content {
	float: left;
	width: 75%;
	background: pink;
	margin-top: 20px;
}

.inner-content {
	width: 75%;
	text-align: center;
	margin: auto;
	background: lightblue;
}

/* WRAPPING TEXT */
img {
	float: left;
	padding-top: 16px;
}


/* CLEAR FLOATS*/
.clear-fix:after
{
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear-fix
{
    zoom: 1;
}